{% extends 'base.html.twig' %}

{% block body %}
    <h1>Le pingouin dont l'id est {{ lePingouin.id }}</h1>
    <div class="row">
        <div class="col col-6">
            <div class="card" style="color: {{ lePingouin.couleur }};">
                <img class="card-img-top" src="{{ lePingouin.image }}">
                <div class="card-body text-center">
                    <div class="card-title">
                        <h4>{{lePingouin.nom}}</h4>
                    </div>
                    <div class="card-text">
                        <p>{{lePingouin.couleur}}</p>
                        <p>{{lePingouin.tribu.nom}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('pingouin_edit', {'id': lePingouin.id}) }}" class="btn btn-warning mx-2">Modifier</a>
                <form action="{{ path('pingouin_delete', {'id': lePingouin.id}) }}" method="post">
                    <input type="submit" value="Supprimer" class="btn btn-danger mx-2">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
